// Specific CSS for your home-page
h1 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}


h2 {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0;
}

h3 {
  font-size: 14px;
  font-weight: 600;
  margin: 0 0;
}

p {
  font-size: 12px;
  margin-bottom: 0px;
}

.tab-heads {
  border: solid gray;
  margin-bottom: 20px;
  padding: 10px 5px;
  border-radius: 5px;
}

.tab-line {
  border: solid #a8a4a4;
  margin-bottom: 5px;
  padding: 10px 5px;
  border-radius: 5px;
  display: flex;
}

.tab-cell {
  margin: auto;
}

.add-button {
  width: 70px;
  height: 70px;
  padding: 0px;
  font-size: 24px;
  box-shadow: 3px 3px 3px gray;
  text-align: center;
  border: none;
  border-radius: 50%;
}

.add-button a {
  text-decoration: none;
  color: white;
}

.delete-icon {
  color: #FE5F55;
}
